

body {
    background-color: #eeeeee;
}

/* 
#root {
    position: relative;
}

h1 {
    font-size: 1.5em;
    font-weight: 900;
    margin-bottom: 0;
    line-height: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;
}

header h1 small {
    margin-left: 0.5em;
    font-weight: 400;
    color: slategray;
    font-size: 0.5em;
}

div.siteHolder {
    max-width: 1000px;
    padding: 15px;
    margin: 15px auto;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
}

section.app {
    padding:30px 0px;
    width:100%;
}

section.app div.appHolder {
    background:white;
    border:solid 1px #dddddd;
    border-radius: 10px;
    padding:30px;
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    min-height:400px;
}

div.appOutput {
    flex-grow: 1;
    min-height:400px;
    min-width: 400px;
    background-color: #f9f8f8;
    cursor: default;
    pointer-events: none;
}

div.appControls {
    flex-grow: 0;
    width: 350px;
    margin-left: 15px;
}

section.description {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.description article {
    max-width:800px;
}

footer {
    margin-top:30px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding:30px;
}

footer a {
    padding:2px 15px;
}

footer a:nth-child(2) {
    border-left:solid 1px #dddddd;
} */